/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;
	color: #5A5A5A;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
	transition: all 0.5s;
		-webkit-transition: all 0.5s;
}
p{
	font-size: 16px;

}
.developedBy{
	position: absolute;
	z-index: 99999;
	left: -175px;
	bottom: -175px;
	width: 250px;
	height: 250px;
	border-radius: 150px;
	overflow: hidden;
	cursor: pointer;
	background-color: #000;
	box-shadow: 0px 0px 5px #000, 0px 0px 10px #000, 0px 0px 15px #FFF;
}
.developedByQuestion{
	position: absolute;
	z-index: 999999;
	font-size: 30px;
	left: 15px;
	bottom: 10px;
	color: #FFF;
	cursor: pointer;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF, 0px 0px 25px #FFF, 0px 0px 30px #FFF;
}
.developedByText{
	position: absolute;
	z-index: 999999;
	width: 100px;
	height: 55px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	left: 10px;
	bottom: 30px;
	color: #FFF;
	cursor: pointer;
	display: none;
	opacity: 0;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF, 0px 0px 25px #FFF;
}
#developer{
	width: 300px;
	height: 300px;
	opacity: 0;
}
.arrowDown{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.preLoaderView{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background: rgb(67,196,194);
	background: -moz-linear-gradient(45deg,  rgba(67,196,194,1) 0%, rgba(253,191,60,1) 50%, rgba(104,75,146,1) 100%, rgba(104,75,146,1) 100%, rgba(104,75,146,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(67,196,194,1)), color-stop(50%,rgba(253,191,60,1)), color-stop(100%,rgba(104,75,146,1)), color-stop(100%,rgba(104,75,146,1)), color-stop(100%,rgba(104,75,146,1)));
	background: -webkit-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43c4c2', endColorstr='#684b92',GradientType=1 );
}

.pleaseWaitWrapper{
	position: absolute;
	z-index: 9;
	width: 350px;
	height: 350px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	background-color: rgba(243,243,243,0.9);
	border-radius: 300px;
		-moz-border-radius: 300px;
		-webkit-border-radius: 300px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
.readyToLaunch{
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 9;
	width: 350px;
	height: 350px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	background-color: rgba(243,243,243,0.9);
	border-radius: 300px;
		-moz-border-radius: 300px;
		-webkit-border-radius: 300px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
.svgBackGroundDrawing{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
		.svgBackGroundDrawing svg{
			width: 95%;
			height: 95%;
		}
.svgBackGroundComplete{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
		.svgBackGroundComplete svg{
			width: 95%;
			height: 95%;
		}
.mainContantWrapper{
	position: relative;
	z-index: -9;
	width: 100%;
	height: 100vh;	
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	overflow: hidden;
}
.bgvid{
	position: absolute;
	z-index: -99;
	top: 0px;
	bottom: 0px;
	left: 50%;
	height: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.zeroPage {
	position: relative;
}
.zeroPageBg{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: url('../img/zeroPage/01.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.zeroPageQuestionWrapper{
	position: absolute;
	width: 380px;
	height: 500px;
	bottom: 10%;
	left: 0px;
	right: 0px;
	margin: auto;
	perspective: 1000px;
		-webkit-perspective: 1000px;
}
.zeroPageQuestion{
	z-index: 9;
	width: 100%;
}
.zeroPageQuestionShadow{
	position: absolute;
	z-index: -9;
	width: 200px;
	height: 200px;
	bottom: -90px;
	left: -25px;
	right: 0px;
	margin: auto;
	border-radius: 100px;
	transform: rotateX( 85deg );
		-webkit-transform: rotateX( 85deg );
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%, rgba(3,3,3,0.8) 15%, rgba(255,255,255,0) 70%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%,rgba(3,3,3,0.8) 15%,rgba(255,255,255,0) 70%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%,rgba(3,3,3,0.8) 15%,rgba(255,255,255,0) 70%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.8) 0%,rgba(3,3,3,0.8) 15%,rgba(255,255,255,0) 70%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.8) 0%,rgba(3,3,3,0.8) 15%,rgba(255,255,255,0) 70%);
}
.zeroPage header{
	color: #fff;
	font-size: 55px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.firstQuestion{
	position: absolute;
	z-index: 9;
	top: 35%;
	left: 10%;
	width: 570px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.firstQuestionMid{
	position: absolute;
	z-index: 9;
	top: 45%;
	left: 30%;
	width: 450px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.firstQuestionEnd{
	position: absolute;
	z-index: 9;
	bottom: 30%;
	right: 10%;
	width: 400px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.secondQuestion{
	position: absolute;
	z-index: 9;
	top: 5%;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 900px;
	height: 310px;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
}
.thirdQuestion{
	position: absolute;
	z-index: 9;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 1000px;
	font-size: 100px;
	height: 300px;
	line-height: 100px;
	text-align: center;
}
.lastQuestionWrapper{
	position: absolute;
	z-index: 9;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 80%;
}


										/* FIRST PAGE STARTS HERE */
.firstPageArrowUpDown{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.firsPage header{
	position: absolute;
	color: #FFF;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
.finalRenderedIcons{
	position: absolute;
	color: #FFF;
	right: 0px;
	bottom: 10%;
	left: 0px;
	font-size: 30px;
	line-height: 30px;
	margin-left: 20px;
}
.firstPageFirstOffer, .firstPageSecondOffer, .firstPageThirdOffer{
	float: left;
	margin: auto;
	opacity: 0.8;
}
.firstPageFirstOffer{
	position: relative;
	width: 310px;
	height: 30px;
	padding-left: 75px;
}
.firstPageFirstOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -70%;
}
.firstPageSecondOffer{
	position: relative;
	width: 190px;
	height: 30px;
	padding-left: 75px;
}
.firstPageSecondOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -65%;
}
.firstPageThirdOffer{
	position: relative;
	width: 270px;
	height: 30px;
	padding-left: 75px;
}
.firstPageThirdOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -65%;
}
.hottestQuestionWrapperFirstPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.hottestQuestionFirstPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.firstPageMedalOne{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 150px;
}
.firstPageSaleWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPageSaleIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPageSaleContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 400px;
	height: 160px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.firstPageMedalTwo{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 150px;
}
.firstPagePresentWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPagePresentIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPagePresentContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 410px;
	height: 210px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.firstPageMedalThree{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 150px;
}
.firstPageCreditWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPageCreditIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.firstPageCreditContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 350px;
	height: 210px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}


									/* SECOND PAGE STARTS HERE */
.secondPageArrowUpDown{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.secondPage header{
	position: absolute;
	color: #FFF;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
.finalRenderedIcons{
	position: absolute;
	color: #FFF;
	right: 0px;
	bottom: 10%;
	left: 0px;
	font-size: 30px;
	line-height: 30px;
	margin-left: 20px;
}
.secondPageFirstOffer, .secondPageSecondOffer, .secondPageThirdOffer, .secondPageFourthOffer{
	float: left;
	margin: auto;
	opacity: 0.8;
}
.secondPageFirstOffer{
	position: relative;
	width: 250px;
	height: 30px;
	padding-left: 75px;
}
.secondPageFirstOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -70%;
}
.secondPageSecondOffer{
	position: relative;
	width: 190px;
	height: 30px;
	padding-left: 75px;
}
.secondPageSecondOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -65%;
}
.secondPageThirdOffer{
	position: relative;
	width: 230px;
	height: 30px;
	padding-left: 75px;
}
.secondPageThirdOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -65%;
}
.secondPageFourthOffer{
	position: relative;
	width: 300px;
	height: 30px;
	padding-left: 75px;
}
.secondPageFourthOffer img{
	position: absolute;
	width: 70px;
	left: 0px;
	top: -65%;
}
.hottestQuestionWrapperSecondPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.hottestQuestionSecondPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.secondPageMedalOne{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 200px;
}
.secondPageFactoryWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageFactoryIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageFactoryContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 400px;
	height: 160px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.secondPageMedalTwo{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 200px;
}
.secondPageNatureWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageNatureIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageNatureContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 410px;
	height: 210px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.secondPageMedalThree{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 200px;
}
.secondPageGarantyWrapper{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageGarantyIcon{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPageGarantyContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 400px;
	height: 210px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}
.secondPageMedalFour{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 200px;
}
.secondPagePersonalWrapper{
	position: absolute;
	z-index: 99;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPagePersonalIcon{
	position: absolute;
	z-index: 9;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: 350px;
}
.secondPagePersonalContext{
	position: absolute;
	top: 0px;
	right: 3%;
	bottom: 0px;
	margin: auto;
	width: 350px;
	height: 210px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	text-shadow: 0px 0px 5px #FFF, 0px 0px 10px #FFF;
}


									/* THIRD PAGE STARTS HERE */
.thirdPageArrow{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.thirdPageSlideArrow{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.thirdPage{
	position: relative;
	background: url('../img/thirdPage/bg.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.backSvgWrapper{
	width: 80%;
	margin: auto;
}
#backSvgWrapperDraw{
	opacity: 0;
}
.galleryHeaderWrapper{
	position: absolute;
	width: 50%;
	top: 0px;
	left: 0px;
	height: 100vh;
}
.leftSvgHeader{
	position: absolute;
	width: 300px;
	z-index: 9;
	top: 30px;
	left: -100px;
	opacity: 0;
}
.leftSvgHeader img{
	width: 100%;
}
.rightSvgHeader{
	position: absolute;
	width: 300px;
	z-index: 9;
	top: 60px;
	right: -100px;
	opacity: 0;
}
.rightSvgHeader img{
	width: 100%;
}
.thirdPageGalleryWrapper{
	position: absolute;
	z-index: 99999;
	width: 820px;
	height: 700px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	overflow: hidden;
}
.thirdPageGalleryReady img, .thirdPageGalleryScetch div img{
	width: 100%;
}
.thirdPageGalleryReadyIcon{
	position: absolute;
	cursor: pointer;
	width: 25%;
	top: 0px;
	left: -190px;
	margin: auto;
}
.thirdPageGalleryReadyIcon img{
	width: 90%;
}
.slider-nav{
	padding: 30px 25px;
}
.slider-nav div{
	padding: 0px 10px;
}
.thirdPageGalleryScetchIcon{
	position: absolute;
	cursor: pointer;
	width: 25%;
	top: -20px;
	right: -20px;
	margin: auto;
}
.thirdPageGalleryScetchIcon img{
	width: 90%;
}
.slider-nav-scetch{
	padding: 30px 25px;
}
.slider-nav-scetch div{
	padding: 0px 10px;
}
.thirdPageGalleryWrapper{
	visibility: hidden;
}
.thirdPageGalleryReady{
	opacity: 0;
	display: hidden;
}
.thirdPageGalleryScetch{
	opacity: 0;
	visibility: hidden;
}
.activeGallery{
	opacity: 100;
}
.fifthPage{
	background-color: green;
}
.prevBtnReady{
	position: absolute;
	width: 75px;
	left: -90px;
	bottom: 110px;
	cursor: pointer;
	opacity: 0.8;
}
.nextBtnReady{
	position: absolute;
	width: 75px;
	right: -90px;
	bottom: 110px;
	cursor: pointer;
}
.prevBtnScetch{
	position: absolute;
	width: 75px;
	left: -90px;
	bottom: 110px;
	cursor: pointer;
}
.nextBtnScetch{
	position: absolute;
	width: 75px;
	right: -90px;
	bottom: 110px;
	cursor: pointer;
	opacity: 0.8;
}

									/* FOURTH PAGE STARTS HERE */
.fourthPageArrow{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}
.secondPage header{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
.hottestQuestionWrapperFourthPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.hottestQuestionFourthPage{
	position: absolute;
	width: 1000px;
	top: 2%;
	left: 0px;
	right: 0px;
	margin: auto;
}
.fourthPageCenterAnimationWrapper{
	position: absolute;
	width: 55%;
	height: 55%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	color: #FFF;
}
.fourthPageCenterAnimationWrapperImg{
	position: absolute;
	width: 85%;
	top: -55px;
	right: -15px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	opacity: 0;
}
.fourthPageCenterHeader{
	position: absolute;
	width: 270px;
	height: 270px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	opacity: 0;
	display:-ms-flexbox;
		-ms-flex-pack:center;
		-ms-flex-align:center;
	display:-moz-box;
		-moz-box-pack:center;
		-moz-box-align:center;
	display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
	display:box;
		box-pack:center;
		box-align:center;
	}

.graphicLeftTop{
	position: absolute;
	width: 150px;
	top: 0px;
	left: -100px;
	margin: auto;
	opacity: 0;
}
.graphicLeftCenter{
	position: absolute;
	width: 150px;
	top: 0px;
	left: -100px;
	bottom: 0px;
	margin: auto;
	opacity: 0;
}
.graphicLeftBottom{
	position: absolute;
	width: 150px;
	left: -100px;
	bottom: 0px;
	margin: auto;
	opacity: 0;
}
.graphicRightTop{
	position: absolute;
	width: 150px;
	right: -100px;
	top: 0px;
	margin: auto;
	opacity: 0;
}
.graphicRightCenter{
	position: absolute;
	width: 150px;
	right: -100px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	opacity: 0;
}
.graphicRightBottom{
	position: absolute;
	width: 150px;
	right: -100px;
	bottom: 0px;
	margin: auto;
	opacity: 0;
}



									/* FIFTH PAGE STARTS HERE */
.fifthPage{
	position: relative;
	background: url('../img/fifthPage/contactsBg.jpg'); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fifthPageArrow{
	position: absolute;
	z-index: 999;
	width: 150px;
	right: 10px;
	bottom: 10px;
	opacity: 0;
}










@media screen and (max-width: 568px) {
    header, figure {
       display: none;
    }
    h1{
    	font-size: 0.9em;
    	line-height: 1em;
    	position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .smallDevices{
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto;
		width: 50%;
		height: 45%;
		text-align: center;
    	overflow: hidden;
    	padding: 10px;
		background-color: rgba(235,235,235,0.7);
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    }
}

@media screen and (max-width: 1020px) {
	#fullpage, .preLoaderView {
       display: none;
    }
    h1{
    	font-size: 1em;
    	line-height: 1.2em;
    	position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .smallDevices{
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto;
		width: 40%;
		height: 20%;
		text-align: center;
    	overflow: hidden;
    	padding: 10px;
		background-color: rgba(135,135,135,0.9);
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    }
}

@media screen and (min-width: 1021px) {
	.smallDevices{
		 display: none;
    }
}
