/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #5A5A5A;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
p{
	font-size: 16px;

}
.preLoaderView{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background: rgb(67,196,194);
	background: -moz-linear-gradient(45deg,  rgba(67,196,194,1) 0%, rgba(253,191,60,1) 50%, rgba(104,75,146,1) 100%, rgba(104,75,146,1) 100%, rgba(104,75,146,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(67,196,194,1)), color-stop(50%,rgba(253,191,60,1)), color-stop(100%,rgba(104,75,146,1)), color-stop(100%,rgba(104,75,146,1)), color-stop(100%,rgba(104,75,146,1)));
	background: -webkit-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: -o-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	background: linear-gradient(45deg,  rgba(67,196,194,1) 0%,rgba(253,191,60,1) 50%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%,rgba(104,75,146,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43c4c2', endColorstr='#684b92',GradientType=1 );
}

.pleaseWaitWrapper{
	position: absolute;
	z-index: 9;
	width: 350px;
	height: 350px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	background-color: rgba(243,243,243,0.9);
	border-radius: 300px;
		-moz-border-radius: 300px;
		-webkit-border-radius: 300px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
.readyToLaunch{
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 9;
	width: 350px;
	height: 350px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	background-color: rgba(243,243,243,0.9);
	border-radius: 300px;
		-moz-border-radius: 300px;
		-webkit-border-radius: 300px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
.svgBackGroundDrawing{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
}
		.svgBackGroundDrawing svg{
			width: 95%;
			height: 95%;
		}
.svgBackGroundComplete{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	transition: 0.5 all;
		-webkit-transition: 0.5 all;
}
		.svgBackGroundComplete svg{
			width: 95%;
			height: 95%;
		}
.mainContantWrapper{
	position: relative;
	z-index: -9;
	width: 100%;
	height: 100vh;	
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	overflow: hidden;
}
.bgvid{
	position: absolute;
	z-index: -9;
	top: 50%;
	left: 50%;
	min-height: 100%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
h1{
	position: absolute;
	color: #FFF;
	top: 0px;
	left: 0px;
	margin: auto;
}













@media screen and (max-width: 568px) {
    header, figure {
       display: none;
    }
    h1{
    	font-size: 0.9em;
    	line-height: 1em;
    	position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .smallDevices{
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto;
		width: 50%;
		height: 45%;
		text-align: center;
    	overflow: hidden;
    	padding: 10px;
		background-color: rgba(235,235,235,0.7);
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    }
}
@media screen and (max-width: 1024px) {
	header, figure, .bgvid {
       display: none;
    }
    h1{
    	font-size: 1em;
    	line-height: 1.2em;
    	position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
    }
    .smallDevices{
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto;
		width: 40%;
		height: 20%;
		text-align: center;
    	overflow: hidden;
    	padding: 10px;
		background-color: rgba(135,135,135,0.9);
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    }
}


@media screen and (min-width: 1025px) {
	.smallDevices{
		 display: none;
    }
}
